@import '../vars';

feed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eee;
    header {
        box-shadow: $shadow;
    }
    header.center {
        align-items: center;
        justify-content: center;
        label {
            font-size: 1.5rem;
        }
    }
}
