@import "vars";
@import '../../node_modules/reset-css/reset';
@import "../../node_modules/normalize.css/normalize";

* {
    font-family: Roboto;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    min-width: 800px;
    background: $primary-color;
    label {
        color: $font-color;
    }
}