@import '../vars';

video-player {
    position: relative;
    display: block;
    margin: 1rem;
    box-shadow: $shadow;            
    min-width: 800px;
    .player {
        min-height: 448px;
        background: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        label {
            color: #aaa;
            font-weight: bold;
            font-size: 2rem;
        }
    }
}